
docs/R4/Thumbs.db
docs/R4/assets/ico/Thumbs.db
docs/R4/assets/images/Thumbs.db
docs/R4/.vs/VSWorkspaceState.json
docs/R4/.vs/R4/config/applicationhost.config
docs/R4/.vs/R4/v16/.suo
docs/R4/.vs/slnx.sqlite
